@charset "UTF-8";

/* Todas as demais medias */ 

/*
Typical Device Breakpoints
--------------------------
    Dispositivos muito pequenos (celulares): até 600px
        @media only screen and (max-width: 600px) {...}

    Dispositivos pequenos (tablets portrait / celulares grandes): de 600px para cima (até 768px)
        @media only screen and (min-width: 600px) {...}

    Dispositivos médios (tablets landscape): 768px para cima (até 992px)
        @media only screen and (min-width: 768px) {...}

    Dispositivos largos (desktops/ laptops): 992px para cima (até 1200px)
        @media only screen and (min-width: 992px) {...}

    Dispositivos extra largos (grandes laptops e monitores): 1200px para cima 
        @media only screen and (min-width: 1200px) {...}
*/

@media print {

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../imagens/back-print.jpg); /* desnecessário pois na impressão o fundo da tela não sai*/
    }

    main {
        border: 2px solid black;
    }
    main h1 {
        text-shadow: none;
        color: black;
    }

    main::after {
        content: ;
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: block;}
    img#pc { display: none;}
    img#tv { display: none;}

}

@media screen and (min-width: 768px) and (max-width: 992px) { /* TABLETS */
   body {
    background-image: url(../imagens/back-tablet.jpg);
   } 

    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width:992px) and (max-width:1200px) { /* DESKTOP */
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
        img#phone { display: none;}
        img#tablet { display: none;}
        img#print { display: none;}
        img#pc { display: block;}
        img#tv { display: none;}

}

@media screen and (min-width:1200px) { /* TV */
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: none;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: block;}
}