@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte1: "Poppins", sans-serif;
}


header{
    background-color: black;
    background-image: url(../imagens/imagem1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-left: 30px;   
    text-align: center  ;
}

header > h1{
    font-size: 10vw;
    font-variant: small-caps;
    text-shadow: 5px  5px 5px rgba(255, 255, 255, 0.5);
}

header > p {
    padding-top: 0px;
    text-shadow: 8px 8px 8px rgba(255, 255, 255, 0.315);
    font-weight:normal;
}

body{
    font-family: var(--fonte1);
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;  

    padding-bottom: 58.1%; /*ao mexer nessa porcentagem é possível alterar a quantidade de borda preta que fica aparecendo no vídeo quando se dá play*/
    position: relative; 
}

div.video > iframe{
    position: absolute;
    top: 5%; /*distancia do quadrado do  vídeo para o topo do quadrado destinado a ele no wireframe*/
    left: 10%; /*distância do quadrado do vídeo para a borda esquerda do quadrado a ele destinado no wireframe*/
     
    /*por está absoluto, conseguiremos configurar a altura e largura do vídeo*/
    width: 80%;
    height: 90%;
}
main{
   min-width: px;
   max-width: 2000px;
   margin: auto;    
    
}

section{
    padding-left: 30px;
}

section.cantado{
    
}

section.falado{

}

p{
    line-height: 1.5em;
    padding-bottom: 30px;
    font-size: 2vw;
}

div > img{
    width: 80vw;
    margin-left: 40px;
}

footer{
    text-align: center;
    padding: 0px;
    margin-top: 10px;
}


footer > p {
    padding: 0px;
}