@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --fonte1: "Poppins", sans-serif;
}

body{
    font-family: var(--fonte1);
}

header{
    width: 90vw;
    background-color: black;
    background-image: url(../imagens/imagem1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    padding: 30px;
    text-align: center;
}

header > h1{
    font-size: 12vw;
    font-variant: small-caps;
    text-shadow: 5px  5px 5px rgba(255, 255, 255, 0.5);
}

header > p {
    font-size: 3vw;
    padding-top: 0px;
    text-shadow: 8px 8px 8px rgba(255, 255, 255, 0.315);
    font-weight:normal;
}

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;  

    padding-bottom: 58.1%; /*ao mexer nessa porcentagem é possível alterar a quantidade de borda preta que fica aparecendo no vídeo quando se dá play*/
    position: relative; 
}

div.video > iframe{
    position: absolute;
    top: 5%; /*distancia do quadrado do  vídeo para o topo do quadrado destinado a ele no wireframe*/
    left: 10%; /*distância do quadrado do vídeo para a borda esquerda do quadrado a ele destinado no wireframe*/
     
    /*por está absoluto, conseguiremos configurar a altura e largura do vídeo*/
    width: 80%;
    height: 90%;
}
main{
   min-width: 300px;
   max-width: 1000px;
   margin: auto;    
   background-color: rgb(255, 255, 255);
    
}

article{
    
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0px 0px 30px 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.432);
}
section{
    padding-left: 30px;
}

section.cantado{
    
}

section.falado{

}

p{
    line-height: 2em;
    padding-bottom: 4em;
    font-size: 1em;
}

p.final{
    
    padding-bottom: 0px;
}

div.imagem{
    background-image:url(../imagens/imagem3.jpg);
    min-width:200px;
    max-width: 1000px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 30px;
    
}
   

footer{
    text-align: center;
    padding: 0px;
    margin-top: 10px;
}


footer > p {
    padding: 0px;
}